@font-face {
  font-family: "proximanova";
  src: url("ProximaNova-Thin.woff") format("woff");
  src: url("ProximaNova-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  src: url("ProximaNova-Light.woff") format("woff");
  src: url("ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  src: url("ProximaNova-Regular.woff") format("woff");
  src: url("ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  src: url("ProximaNova-Semibold.woff") format("woff");
  src: url("ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  src: url("ProximaNova-Bold.woff") format("woff");
  src: url("ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  src: url("ProximaNova-Black.woff") format("woff");
  src: url("ProximaNova-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
